# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.venv/
venv/
env/

# Database
*.db
*.sqlite3
*.sqlite

# Env / secrets
.env
*.env.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp

# Logs
*.log

# Temporary
*.tmp
*.bak
